body {
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    color: #1C1C1C;
}

h1 {
    background-color: #1C1C1C;
    color: #FFFFFF;
    padding: 20px;
    margin: 0;
    font-size: 26px;
}

p {
    margin: 10px 20px;
    color: #555;
}

h2 {
    margin: 20px;
    font-size: 22px;
}

form {
    background-color: #FFFFFF;
    margin: 0 20px 20px;
    padding: 20px;
    max-width: 450px;

    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

label {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 9px;
    margin-top: 4px;

    border: 1px solid #CFCFCF;
    border-radius: 4px;
    font-size: 14px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #1C1C1C;
}


button {
    margin-top: 15px;
    padding: 10px 16px;
    background-color: #1C1C1C;
    color: #FFFFFF;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

a.cancelar {
    margin-left: 10px;
    color: #555;
}

div > a {
    display: inline-block;
    margin: 20px;

    padding: 10px 18px;

    background-color: #1C1C1C; /* preto */
    color: #FFFFFF;

    text-decoration: none;
    font-size: 14px;
    font-weight: 600;

    border-radius: 6px;
    transition: background-color 0.2s ease;
}

/* div > a:hover {
    background-color: #333333;
    color: #FFFFFF;
    text-decoration: none;
} */

.navbar-brand{
    background-color: #F8F9FA;
}