/* CSS da Tela de Login */
body {
    background-color: darkgrey;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-style: initial;
    color: black;
}

button {
    border-radius: 5px;
    background-color: #d8cece;
    color: #514e4e;
    border-color: black;
    font-size: 16px;
}

.mensagem {
    text-align: center;
    border: 5px solid;
}

.mensagem-sucesso {
    border-color: green;
}

.mensagem-erro {
    border-color: red;
    background-color: brown;
    color: white;
}

form {
    width: 350px;
    margin: 40px auto;
    padding: 25px;
    background-color: #6f6f6f;
    border-radius: 10px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
    text-align: center;
}

form input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    background-color: #5b606ad6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #40434a;
}