/* CSS da Tela de Logim */
body {
    text-align: center;
    background-color: darkgrey;
}

h1 {
    margin-top: 50px;
    font-style: initial;
    color: black;
}

button {
    border-radius: 5px;
    background-color: #d8cece;
    color: #514e4e;
    border-color: black;
    font-size: 16px;
}

.mensagem {
    text-align: center;
    border: 5px solid;
}

.mensagem-sucesso {
    border-color: green;
}

.mensagem-erro {
    border-color: red;
    background-color: brown;
    color: white;
}

/* Segunda Tela */

.segunda_tela {
    background-color: black;
}