body {
    text-align: center;
    background-color: #4a4a4a;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
    margin: 20px 0;
    padding: 0;
}

/* Quadrados transparentes */
.ret {
    background: black;
    color: green;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120px;
    gap: 0;
    margin-top: 40px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    border-left: 7px solid #8e9889;
    font-weight: bold;
}

.ret2 {
    background: black;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120px;
    gap: 0;
    margin-top: 40px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    border-left: 7px solid #4f4f4f;
    font-weight: bold;
}

.ret3 {
    background: black
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 120px;
    gap: 0;
    margin-top: 40px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    border-left: 7px solid #7f0400;
    font-weight: bold;
}




